body {
  background-color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.top-nav {
  overflow: hidden;
  padding-top: 10px;
  white-space: nowrap;
}

.top-nav a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.top-nav a:hover {
  text-decoration: underline;
}

.nav-left {
  float: left;
}

.nav-center {
  display: inline;
  margin: 0 auto;
}

.nav-right {
  float: right;
}

#about {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 2.5px;
}

#store {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
}

#gmail {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 2.5px;
}

#images {
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 2.5px;
}

#google-app-icon {
  display: inline;
  height: 25px;
  width: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

#profile-picture {
  height: 25px;
  width: 25px;
  margin-right: 15px;
  margin-top: -5px;
  border-radius: 50%;
  border: 3px solid hsl(0, 0%, 0%);
}

#google-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 272px;
  max-height: 92px;
  padding-bottom: 35px;
}

#google-search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 584px;
  padding-top: 25px;
  border-radius: 25px;
  border-color: hsla(0, 2%, 72%, 0.233);
}

.btn-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

#btn1 {
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 2%, 78%, 0.233);
}

#btn2 {
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 2%, 78%, 0.233);
}
.middle-section {
  position: absolute;
  top: 25%;
  bottom: 75%;
  margin-left: -50px;
  margin-right: -50px;
  width: 100%;
  height: 100%;
}

.bottom-nav {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: hsla(0, 2%, 78%, 0.233);
  padding-top: 13.75px;
  padding-bottom: 13.75px;
}

.bottom-nav a {
  text-align: center;
  text-decoration: none;
  color: hsl(0, 1%, 44%);
}

.bottom-nav a:hover {
  text-decoration: underline;
}

#advertising {
  float: left;
  padding-left: 20px;
  padding-right: 15px;
}

#business {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

#search-works {
  float: left;
  padding-left: 15px;
}

#carbon-neutral {
  margin-left: -10%;
}

#settings {
  float: right;
  padding-right: 50px;
  padding-left: 15px;
}

#terms {
  float: right;
  padding-right: 15px;
  padding-left: 15px;
}

#privacy {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
